.Rproj.*
.Rproj.user
.Rhistory
.DS_Store
scrape_cht.R
data/scorecard.csv
scrape_cache/
Diego_data_exploration.R
test.R
college_data_tibble.csv
colleges_training_tibble.csv
colleges_query_tibble.csv
colleges_test_tibble.csv
mainland_map_bg.pdf
