.Rproj.*
.Rproj.user
.Rhistory
.DS_Store
scrape_cht.R
data/scorecard.csv
scrape_cache/
Diego_data_exploration.R
test.R
college_data_tibble.csv
colleges_training_tibble.csv
colleges_query_tibble.csv
colleges_test_tibble.csv
mainland_map_bg.pdf
colleges_CleanYR2_tibble.csv
colleges_CleanYR4_tibble.csv
state_latlon.csv
college_data_tibble.csv
black_conditional.csv
test_scores.csv
colleges_LOW4_byState.csv
colleges_training_prices.csv
colleges_training_prices_1.csv
